## String Based Assignment Problem

#### 1. Write a program to reverse a string.

In [2]:
s=input("String : ")
print("Reversed String :",s[::-1])

String : jUjUtSu KaIsEn
Reversed String : nEsIaK uStUjUj

#### 2. Check if a string is a palindrome.

In [3]:
s=input("String : ")
if(s[::-1]==s):
    print(s,"is Palindrome")
else:
    print(s,"isn't Palindrome")

String : maadaam
maadaam is Palindrome

#### 3. Convert a string to uppercase.

In [4]:
s=input("String : ")
print("Uppercase :",s.upper())

String : kakashi
Uppercase : KAKASHI

#### 4. Convert a string to lowercase.

In [5]:
s=input("String : ")
print("Lowercase :",s.lower())

String : Itachi
Lowercase : itachi

#### 5. Count the number of vowels in a string.

In [6]:
s=input("String : ")
c=0
for i in s:
    if i in "AEIOUaeiou":
        c+=1
print(s,'has',c,'vowels')

String : Uchiha Madara
Uchiha Madara has 6 vowels

#### 6. Count the number of consonants in a string.

In [14]:
s=input("String : ")
c=0
for i in s:
    if (i.isalpha() and (i not in "AEIOUaeiou")):
        c+=1
print(s,"has",c,'consonents')

String : Fushiguro Megumi
Fushiguro Megumi has 8 consonents

#### 7. Remove all whitespaces from a string.

In [15]:
s=input("String : ")
s1=''
for i in s:
    if(i!=' '):
        s1+=i
print("Modiied String :",s1)

String : Hello there! How are you today?
Modiied String : Hellothere!Howareyoutoday?

#### 8. Find the length of a string without using the len() function.

In [9]:
s=input("String : ")
c=0
for i in s:
    c+=1
print("Length of the string :",c)

String : dattebayo
Length of the string : 9

#### 9. Check if a string contains a specific word.

In [11]:
s=input("Enter a string : ")
s1=input("Enter the word to be found : ")
if(s.find(s1)==-1):
    print("Word not found")
else:
    print("Word is present in the string")

Enter a string : my name is gojo
Enter the word to be found : gojo
Word is present in the string

#### 10. Replace a word in a string with another word.

In [12]:
s=input("Enter a string : ")
s1=input("Enter the word to be replaced : ")
s2=input("Enter the word to replace with : ")
print("Modified String :",s.replace(s1,s2))

Enter a string : Hello Oli
Enter the word to be replaced : Oli
Enter the word to replace with : Das
Modified String : Hello Das

#### 11. Count the occurrences of a word in a string.

In [16]:
s=input("String : ")
w=input("Word : ")
print(w, "is repeated", s.count(w), "times")

String : Hi there, I am Oli. I live in Bangalore.
Word : I
I is repeated 2 times

#### 12. Find the first occurrence of a word in a string.

In [18]:
s=input("String : ")
w=input("Word : ")
print("First occurence of", w, "=", s.index(w), "position")

String : Uchiha Itachi, Uchiha Shishui, Uchiha Obito, Uchiha Madara, Uchiwa Sasooke
Word : Uchiwa
First occurence of Uchiwa = 60 position

#### 13. Find the last occurrence of a word in a string.

In [19]:
s=input("string : ")
w=input("Word : ")
print("Last occurence of", w, "=", s.rindex(w), "position")

string : Uchiha Itachi, Uchiha Shishui, Uchiha Obito, Uchiha Madara, Uchiwa Sasooke
Word : Uchiha
Last occurence of Uchiha = 45 position

#### 14. Split a string into a list of words.

In [20]:
s=input()
l=s.split()
print(l)

ghost of the uchiha
['ghost', 'of', 'the', 'uchiha']

#### 15. Join a list of words into a string.

In [21]:
print("List of words :", l)
s=''
print("String :",s.join(l))

List of words : ['ghost', 'of', 'the', 'uchiha']
String : ghostoftheuchiha

#### 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [22]:
s=input("String : ")
print("modified string :",s.replace(' ','_'))

String : I want to eat your pancreas.
modified string : I_want_to_eat_your_pancreas.

#### 17. Check if a string starts with a specific word or phrase.

In [23]:
s=input("String : ")
w=input("Word/Phrase : ")
if(s.startswith(w)):
    print("The string starts with the given word/phrase.")
else:
    print("The string doesn't start with the given word/phrase.")

String : Elegance and Efficiency
Word/Phrase : Elegance
The string starts with the given word/phrase.

#### 18. Check if a string ends with a specific word or phrase.

In [24]:
s=input("String : ")
w=input("Word/Phrase : ")
if(s.endswith(w)):
    print("The string ends with the given word/phrase.")
else:
    print("The string doesn't end with the given word/phrase.")

String : Elegance and Efficiency
Word/Phrase : and Efficiency
The string ends with the given word/phrase.

#### 19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [25]:
s=input("String : ")
print("The string as a title :", s.title())

String : Seven wonders of the world.
The string as a title : Seven Wonders Of The World.

#### 20. Find the longest word in a string.

In [26]:
s=input("String : ")
l=0
w=''
for i in s.split():
    if(len(i)>l):
        l=len(i)
        w=i
print("Longest word in the string :",w)

String : India has the largest population
Longest word in the string : population

#### 21. Find the shortest word in a string.

In [2]:
s=input()
w=''
l=len(s)
for i in s.split():
    if(len(i)<l):
        l=len(i)
        w=i
print("Shortest word in the string :",w)

India has the largest population
Shortest word in the string : has

#### 22. Reverse the order of words in a string.

In [8]:
s=input("String : ")
l=s.split()
print()
for i in range(len(l)-1,-1,-1):
    print(l[i],end=' ')

String : It's raining cats and dog
dog and cats raining It's

#### 23. Check if a string is alphanumeric.

In [11]:
s=input()
if(s.isalnum()):
    print("String is alphanumeric")
else:
    print("String isn't alphanumeric")

Sigma*99
String isn't alphanumeric

#### 24. Extract all digits from a string.

In [29]:
s=input()
l=[]
for i in s:
    if i.isnumeric():
        l.append(i)
print("Digits in the string :", l)

gFF65ghjhgj68DFLKJ76FGV
Digits in the string : ['6', '5', '6', '8', '7', '6']

#### 25. Extract all alphabets from a string.

In [30]:
s=input()
s1=''
for i in s:
    if (i.isalpha()):
        s1+=i
print("Alphabets in the string :",s1)

gFF65ghjhgj68DFLKJ76FGV
Alphabets in the string : gFFghjhgjDFLKJFGV

#### 26. Count the number of uppercase letters in a string.

In [27]:
s=input()
c=0
for i in s:
    if (i.isupper()):
        c+=1
print("Number of uppercase letters in the string :",c)

gFF65ghjhgj68DFLKJ76FGV
Number of uppercase letters in the string : 10

#### 27. Count the number of lowercase letters in a string.

In [28]:
s=input()
c=0
for i in s:
    if (i.islower()):
        c+=1
print("Number of lowercase letters in the string :",c)

gFF65ghjhgj68DFLKJ76FGV
Number of lowercase letters in the string : 7

#### 28. Swap the case of each character in a string.

In [132]:
s=input()
print(s.swapcase())

HATAKE75668kakashi
hatake75668KAKASHI

#### 29. Remove a specific word from a string.

In [33]:
s=input("String : ")
w=input("Word to be removed : ")
print("Modified String :", end=' ')
for i in s.split():
    if(i==w):
        continue
    else:
        print(i,end=' ')

String : We ain't here to hurt nobody.
Word to be removed : here
Modified String : We ain't to hurt nobody.

#### 30. Check if a string is a valid email address.

In [44]:
s=input("Email : ")
if(s.find('@')):
    if(s.rindex('.')>s.find('@')):
        print("Valid email address")
    else:
        print("Not a valid email address")
else:
    print("Not a valid email address")

Email : o.@gmailcom
Not a valid email address

#### 31. Extract the username from an email address string.

In [49]:
s=input("email ID : ")
print("Username :",s.split('@')[0])

email ID : oli@gmail.com
Username : oli

#### 32. Extract the domain name from an email address string.

In [50]:
s=input("email ID : ")
print("Domain Name :",s.split('@')[1])

email ID : oli@gmail.com
Domain Name : gmail.com

#### 33. Replace multiple spaces in a string with a single space.

In [57]:
s=input("String : ")
l=s.split(' ')
s1=''
for i in l:
    if(i!=''):
        s1+=i
        s1+=' '
print("After removing extra spaces :", s1)

String : Twinkle,   Twinkle  Little Star .
After removing extra spaces : Twinkle, Twinkle Little Star .

#### 34. Check if a string is a valid URL.

In [112]:
s=input("URL : ")    #http://www.example.com
if(s.find("://")>0):
    protocol = s.split("://")[0]
    if(protocol in (['https','http','ftp'])):
        domain = s.split("://")[1]
        l=domain.split('.')
        if(len(l)==3 and l[0]=='www' and l[2]=='com'):
            print("Valid")
        else:
            print("Invalid URL : Incorrect Domain")
    else:
        print("Invalid URL : Incorrect Protocol")
else:
    print("Invalid : Protocol not present")

URL : http://www.example.com
Valid

#### 35. Extract the protocol (http or https) from a URL string.

In [113]:
u=input("URL : ")
print("Protocol :", u.split("://")[0])

URL : http://www.hubbabubba.com
Protocol : http

#### 36. Find the frequency of each character in a string.

In [125]:
s=input("String : ")
c=0
d={}
for i in s:
    c=s.count(i)
    d[i]=c
print("Frequency of each character : ")
for i in d.items():
    print(i)

String : Would you like some coffee?
Frequency of each character :
('W', 1)
('o', 4)
('u', 2)
('l', 2)
('d', 1)
(' ', 4)
('y', 1)
('i', 1)
('k', 1)
('e', 4)
('s', 1)
('m', 1)
('c', 1)
('f', 2)
('?', 1)

#### 37. Remove all punctuation from a string.

In [127]:
s=input("String : ")
punctuations = ['.','?','"',"'",',','-','–','—','!',':',';','(',')','[',']','...','/']
s1=''
for i in s:
    if(i not in punctuations):
        s1+=i
print("String without any punctuations :", s1)

String : Hello!! I'm "Naruto". What's your name?
String without any punctuations : Hello Im Naruto Whats your name

#### 38. Check if a string contains only digits.

In [135]:
s=input("String : ")
if(s.isnumeric()):
    print("String contains only digits")
else:
    print("String doesn't contain only digits")

String : 3idiots
String doesn't contain only digits

#### 39. Check if a string contains only alphabets.

In [139]:
s=input("String : ")
if(s.isalpha()):
    print("String contains only alphabets")
else:
    print("String doesn't contain only alphabets")

String : 3idiots
String doesn't contain only alphabets

#### 40. Convert a string to a list of characters.

In [142]:
s=input("String : ")
print('List of characters :',list(s))

String : 5 nights at Freddy's
List of characters : ['5', ' ', 'n', 'i', 'g', 'h', 't', 's', ' ', 'a', 't', ' ', 'F', 'r', 'e', 'd', 'd', 'y', "'", 's']

#### 41. Check if two strings are anagrams.

In [148]:
s1=input("String 1 : ")
s2=input("String 2 : ")
if(sorted(s1.lower())==sorted(s2.lower())):
    print("The strings are anagrams")
else:
    print("The strings aren't anagrams")

String 1 : Male
String 2 : Lame
The strings are anagrams

#### 42. Encode a string using a Caesar cipher.

In [53]:
s=input("String : ")
shift=int(input("Enter shift : "))
s1=''
for i in s:
    asc=ord(i)
    if(i.isalpha() and i.isupper()):
        s1+= chr((asc+shift-65)%26+65)
    elif(i.isalpha() and i.islower()):
        s1+= chr((asc+shift-97)%26+97)
    else:
        s1+=i
print("Encoded String :",s1)

String : Wingardium Leviosa
Enter shift : 4
Encoded String : Amrkevhmyq Pizmswe

#### 43. Decode a Caesar cipher encoded string.

In [54]:
s=input("String : ")
shift=int(input("Enter shift : "))
s1=''
for i in s:
    asc=ord(i)
    if(i.isalpha() and i.isupper()):
        s1+= chr((asc+26-shift-65)%26+65)
    elif(i.isalpha() and i.islower()):
        s1+= chr((asc+26-shift-97)%26+97)
    else:
        s1+=i
print("Encoded String :",s1)

String : Amrkevhmyq Pizmswe
Enter shift : 4
Encoded String : Wingardium Leviosa

#### 44. Find the most frequent word in a string.

In [5]:
s=input("String : ")
l=s.split()
d={}
for i in l:
    d[i]=l.count(i)
print("Most frequent word :",sorted(d)[::-1][0])

String : twinkle twinkle little star
Most frequent word : twinkle

#### 45. Find all unique words in a string.

In [10]:
s=input("String : ")
unq=set(s.split())
print("Unique words :",list(unq))

String : baa baa black sheep, have you any wool? yes sir yes sir three bags full.
Unique words : ['sheep,', 'yes', 'any', 'bags', 'three', 'black', 'wool?', 'full.', 'you', 'baa', 'have', 'sir']

#### 46. Count the number of syllables in a string.

In [22]:
s=input("String : ")
l=s.split()
c=0
print("Syllables in the string :- ")
for i in l:
    c=0
    for j in i.upper():
        if(j in "AEIOUY"):
            c+=1
    print(i,'=',c)

String : Hey there
Syllables in the string :-
Hey = 2
there = 2

#### 47. Check if a string contains any special characters.

In [25]:
s=input("String : ")
if(s.isalnum()):
    print("The string has no special characters")
else:
    print("The string has special characters")

String : Attack on Titans
The string has special characters

#### 48. Remove the nth word from a string.

In [31]:
s=input("String : ")
pos = int(input("Position to remove word from : "))
word=s.split()[pos]
print("Modified String :",s.replace(word,""))

String : Remove the nth word from a string
Position to remove word from : 2
Modified String : Remove the  word from a string

#### 49. Insert a word at the nth position in a string.

In [38]:
s=input("String : ")
word=input("Enter the word to be inserted : ")
pos=int(input("Enter the position : "))          #assuming index starting from 0
l=s.split()
l.insert(pos,word)
s1=" "
print("Modified string :",s1.join(l))

String : Would you some tea?
Enter the word to be inserted : like
Enter the position : 2
Modified string : Would you like some tea?

#### 50. Convert a CSV string to a list of lists.

In [44]:
s=input("Enter a CSV string : ")
l=s.split(', ')
l1=[]
for i in l:
    l1.append([i])
print()

Enter a CSV string : this, is a, comma, separated value, string.

[['this'], ['is a'], ['comma'], ['separated value'], ['string.']]

## List Based Practice Problem

#### 1. Create a list with integers from 1 to 10.

In [47]:
l=[]
print("List with integers from 1 to 10 :")
for i in range(1,11):
    l.append(i)
print(l)

List with integers from 1 to 10 :
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### 2. Find the length of a list without using the len() function.

In [51]:
l=[5,'a',True,3.14]
print("List :",l)
c=0
for i in l:
    c+=1
print("Length of the list =",c)

List : [5, 'a', True, 3.14]
Length of the list = 4

#### 3. Append an element to the end of a list.

In [54]:
l=[5,'a',True,3.14]
print("List :",l)
x=input("Element to be appended : ")
l.append(x)
print("Modified List :",l)

List : [5, 'a', True, 3.14]
Element to be appended : b
Modified List : [5, 'a', True, 3.14, 'b']

#### 4. Insert an element at a specific index in a list.

In [55]:
l=[5,'a',True,3.14]
print("List :",l)
ele=input("Element to be inserted : ")
pos=int(input("Position : "))
l.insert(pos,ele)
print("Modified List :",l)

List : [5, 'a', True, 3.14]
Element to be inserted : b
Position : 2
Modified List : [5, 'a', 'b', True, 3.14]

#### 5. Remove an element from a list by its value.

In [59]:
l=[5,'a',True,3.14]
print("List :",l)
ele=input("Element to be removed : ")
l.remove(ele)
print("Modified list :",l)

List : [5, 'a', True, 3.14]
Element to be removed : a
Modified list : [5, True, 3.14]

#### 6. Remove an element from a list by its index.

In [60]:
l=[5,'a',True,3.14]
print("List :",l)
pos=int(input("Position to remove element from : "))
l.remove(l[pos])
print("Modified list :",l)

List : [5, 'a', True, 3.14]
Position to remove element from : 1
Modified list : [5, True, 3.14]

#### 7. Check if an element exists in a list.

In [69]:
l=[5,'a',True,3.14]
print("List :",l)
e=input("Element to be found : ")
if e in l:
    print("Element exists in list")
else:
    print("Element doesn't exist in list")

List : [5, 'a', True, 3.14]
Element to be found : b
Element doesn't exist in list

#### 8. Find the index of the first occurrence of an element in a list.

In [72]:
l=[4,8,2,4,8,2,0,1,5,7,5]
print("List :",l)
e=int(input(("Element : ")))
print("First index of",e,"=",l.index(e))

List : [4, 8, 2, 4, 8, 2, 0, 1, 5, 7, 5]
Element : 5
First index of 5 = 8

#### 9. Count the occurrences of an element in a list.

In [73]:
l=[4,8,2,4,8,2,0,1,5,7,5]
print("List :",l)
e=int(input(("Element : ")))
print("Occurrences of",e,"=",l.count(e))

List : [4, 8, 2, 4, 8, 2, 0, 1, 5, 7, 5]
Element : 5
Occurrences of 5 = 2

#### 10. Reverse the order of elements in a list.

In [74]:
l=[4,8,2,4,8,2,0,1,5,7,5]
print("List :",l)
print("Reversed list :",l[::-1])

List : [4, 8, 2, 4, 8, 2, 0, 1, 5, 7, 5]
Reversed list : [5, 7, 5, 1, 0, 2, 8, 4, 2, 8, 4]

#### 11. Sort a list in ascending order.

In [81]:
l=[4,8,2,4,8,2,0,1,5,7,5]
print("List :",l)
l.sort()
print("Sorted List (ascending) :",l)

List : [4, 8, 2, 4, 8, 2, 0, 1, 5, 7, 5]
Sorted List (ascending) : [0, 1, 2, 2, 4, 4, 5, 5, 7, 8, 8]

#### 12. Sort a list in descending order.

In [82]:
l=[4,8,2,4,8,2,0,1,5,7,5]
print("List :",l)
l.sort(reverse=True)
print("Sorted List (descending) :",l)

List : [4, 8, 2, 4, 8, 2, 0, 1, 5, 7, 5]
Sorted List (descending) : [8, 8, 7, 5, 5, 4, 4, 2, 2, 1, 0]

#### 13. Create a list of even numbers from 1 to 20.

In [84]:
l=[]
for i in range(2,21,2):
    l.append(i)
print("List :",l)

List : [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

#### 14. Create a list of odd numbers from 1 to 20.

In [85]:
l=[]
for i in range(1,21,2):
    l.append(i)
print("List :",l)

List : [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

#### 15. Find the sum of all elements in a list.

In [86]:
l=[4,8,2,4,8,2,0,1,5,7,5]
print("List :",l)
s=0
for i in l:
    s+=i
print("Sum of elements in the list :",s)

List : [4, 8, 2, 4, 8, 2, 0, 1, 5, 7, 5]
Sum of elements in the list : 46

#### 16. Find the maximum value in a list.

In [88]:
l=[4,8,2,4,8,2,0,1,5,7,5]
print("List :",l)
print("Maximum value in the list =",max(l))

List : [4, 8, 2, 4, 8, 2, 0, 1, 5, 7, 5]
Maximum value in the list = 8

#### 17. Find the minimum value in a list.

In [89]:
l=[4,8,2,4,8,2,0,1,5,7,5]
print("List :",l)
print("Maximum value in the list =",min(l))

List : [4, 8, 2, 4, 8, 2, 0, 1, 5, 7, 5]
Maximum value in the list = 0

#### 18. Create a list of squares of numbers from 1 to 10.

In [92]:
l=[]
for i in range(1,11):
    l.append(i**2)
print("List :",l)

List : [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### 19. Create a list of random numbers.

In [97]:
import random
l=[]
n=int(input("Enter no. of elements for the list : "))
for i in range(n):
    l.append(random.randint(0,100))
print("List of random numbers :",l)

Enter no. of elements for the list : 15
List of random numbers : [92, 96, 5, 64, 100, 22, 51, 62, 0, 62, 17, 52, 96, 79, 96]

#### 20. Remove duplicates from a list.

In [98]:
l=[4,8,2,4,8,2,0,1,5,7,5]
print("List :",l)
s=set(l)
print("List without duplicate elements :",list(s))

List : [4, 8, 2, 4, 8, 2, 0, 1, 5, 7, 5]
List without duplicate elements : [0, 1, 2, 4, 5, 7, 8]

#### 21. Find the common elements between two lists.

In [108]:
l1=[4,8,2,4,8,2,0,1,5,7,5]
print("List 1 :",l1)
l2=[7,2,3,0,9,3,6,5,8,7,6]
print("List 2 :",l2)
l3=[]
for i in l1:
     if i in l2:
            l3.append(i)
print("Common elements btwn two list :",set(l3))

List 1 : [4, 8, 2, 4, 8, 2, 0, 1, 5, 7, 5]
List 2 : [7, 2, 3, 0, 9, 3, 6, 5, 8, 7, 6]
Common elements btwn two list : {0, 2, 5, 7, 8}

#### 22. Find the difference between two lists.

In [110]:
l1=[4,8,2,4,8,2,0,1,5,7,5]
print("List 1 :",l1)
l2=[7,2,3,0,9,3,6,5,8,7,6]
print("List 2 :",l2)
for i in l1:
    if i not in l2:
        l3.append(i)
print("Difference between 2 lists :",set(l3))

List 1 : [4, 8, 2, 4, 8, 2, 0, 1, 5, 7, 5]
List 2 : [7, 2, 3, 0, 9, 3, 6, 5, 8, 7, 6]
Difference between 2 lists : {0, 1, 2, 4, 5, 7, 8}

#### 23. Merge two lists.

In [112]:
l1=[4,8,2,4,8,2,0,1,5,7,5]
print("List 1 :",l1)
l2=[7,2,3,0,9,3,6,5,8,7,6]
print("List 2 :",l2)
l3=l1+l2
print("Merged list :",l3)

List 1 : [4, 8, 2, 4, 8, 2, 0, 1, 5, 7, 5]
List 2 : [7, 2, 3, 0, 9, 3, 6, 5, 8, 7, 6]
Merged list : [4, 8, 2, 4, 8, 2, 0, 1, 5, 7, 5, 7, 2, 3, 0, 9, 3, 6, 5, 8, 7, 6]

#### 24. Multiply all elements in a list by 2.

In [113]:
l=[3,4,8,7,9,6]
for i in range(len(l)):
    l[i]=l[i]*2
print("Modified list :",l)

Modified list : [6, 8, 16, 14, 18, 12]

#### 25. Filter out all even numbers from a list.

In [116]:
l=[3,4,8,7,9,6]
print("Even numbers in the list :")
for i in l:
    if(i%2==0):
        print(i)

Even numbers in the list :
4
8
6

#### 26. Convert a list of strings to a list of integers.

In [118]:
l=['2','8','5','1','9','4']
print("List of strings :",l)
for i in range(len(l)):
    l[i]=int(l[i])
print("List of integers :",l)

List of strings : ['2', '8', '5', '1', '9', '4']
List of integers : [2, 8, 5, 1, 9, 4]

#### 27. Convert a list of integers to a list of strings.

In [121]:
l=[2, 8, 5, 1, 9, 4]
print("List of integers :",l)
for i in range(len(l)):
    l[i]=str(l[i])
print("List of strings :",l)

List of integers : [2, 8, 5, 1, 9, 4]
List of strings : ['2', '8', '5', '1', '9', '4']

#### 28. Flatten a nested list.

In [126]:
l=[1,3,5,[2,4,6],7,9,11,[8,10,12]]
l1=[]
for i in l:
    if(type(i))==list:
        for j in i:
            l1.append(j)
    else:
        l1.append(i)
print("Flattened List :",l1)

Flattened List : [1, 3, 5, 2, 4, 6, 7, 9, 11, 8, 10, 12]

#### 29. Create a list of the first 10 Fibonacci numbers.

In [134]:
l=[0,1]
i=2
x=1
x1=0
s=x+x1
while(i<10):
    l.append(s)
    x1=x
    x=s
    i+=1
    s=x+x1
print("First 10 fibonacci numbers :",l)

First 10 fibonacci numbers : [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

#### 30. Check if a list is sorted.

In [147]:
l=[1, 3, 5, 2, 4, 6, 7, 9, 11, 8, 10, 12]
if(l==sorted(l)):
    print("List is sorted")
else:
    print("List isn't sorted")

List isn't sorted

#### 31. Rotate a list to the left by n positions.

In [177]:
l=[1, 3, 5, 2, 4, 6, 7, 9, 11, 8, 10, 12]
print(l)
n=int(input("No. of positions to be left shifted by : "))
l1=l[n:]+l[:n]
print("Modified List :",l1)

[1, 3, 5, 2, 4, 6, 7, 9, 11, 8, 10, 12]
No. of positions to be left shifted by : 4
Modified List : [4, 6, 7, 9, 11, 8, 10, 12, 1, 3, 5, 2]

#### 32. Rotate a list to the right by n positions.

In [187]:
l=[1, 3, 5, 2, 4, 6, 7, 9, 11, 8, 10, 12]
print(l)
n=int(input("No. of positions to be right shifted by : "))
l1=l[len(l)-n:]+l[:len(l)-n]
print("Modified List :",l1)

[1, 3, 5, 2, 4, 6, 7, 9, 11, 8, 10, 12]
No. of positions to be right shifted by : 4
Modified List : [11, 8, 10, 12, 1, 3, 5, 2, 4, 6, 7, 9]

#### 33. Create a list of prime numbers up to 50.

In [242]:
l=[1,2]
c=0
for i in range(3,51):
    for j in range(2,51):
        if(i%j==0):
            c+=1
    if(c==1):
        l.append(i)
    c=0
print("List of prime numbers upto 50 = ",l)

List of prime numbers upto 50 =  [1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

#### 34. Split a list into chunks of size n.

In [252]:
l=[1, 3, 5, 2, 4, 6, 7, 9, 11, 8, 10, 12]
print("List :",l)
n=int(input("Size of list partitions : "))
length=len(l)
x=n
m=0
print("Splitted List :")
for i in range((len(l)//n)):
    print(l[m:x])
    m+=n
    x+=n

List : [1, 3, 5, 2, 4, 6, 7, 9, 11, 8, 10, 12]
Size of list partitions : 4
Splitted List :
[1, 3, 5, 2]
[4, 6, 7, 9]
[11, 8, 10, 12]

#### 35. Find the second largest number in a list.

In [258]:
l=[1, 3, 5, 2, 4, 6, 7, 9, 11, 8, 10, 12]
print("List :",l)
print("Second largest number :",sorted(l)[::-1][1])

List : [1, 3, 5, 2, 4, 6, 7, 9, 11, 8, 10, 12]
Second largest number : 11

#### 36. Replace every element in a list with its square.

In [260]:
l=[1, 3, 5, 2, 4, 6, 7, 9, 11, 8, 10, 12]
print("List :",l)
for i in range(len(l)):
    l[i]=l[i]**2
print("Modified list :",l)

List : [1, 3, 5, 2, 4, 6, 7, 9, 11, 8, 10, 12]
Modified list : [1, 9, 25, 4, 16, 36, 49, 81, 121, 64, 100, 144]

#### 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [261]:
l=[1, 3, 5, 2, 4, 6, 7, 9, 11, 8, 10, 12]
print("List :",l)
d={}
for i in range(len(l)):
    d[l[i]]=i
print("Dictionary :",d)

List : [1, 3, 5, 2, 4, 6, 7, 9, 11, 8, 10, 12]
Dictionary : {1: 0, 3: 1, 5: 2, 2: 3, 4: 4, 6: 5, 7: 6, 9: 7, 11: 8, 8: 9, 10: 10, 12: 11}

#### 38. Shuffle the elements of a list randomly.

In [263]:
import random
l=[1, 3, 5, 2, 4, 6, 7, 9, 11, 8, 10, 12]
print("List :",l)
random.shuffle(l)
print("Shuffled list :",l)

List : [1, 3, 5, 2, 4, 6, 7, 9, 11, 8, 10, 12]
Shuffled list : [6, 10, 1, 7, 5, 8, 4, 11, 9, 2, 3, 12]

#### 39. Create a list of the first 10 factorial numbers.

In [266]:
l=[]
for i in range(11):
    f=1
    while(i>=1):
        f=f*i
        i-=1
    l.append(f)
print("List of factorial of first 10 numbers :",l)

List of factorial of first 10 numbers : [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

#### 40. Check if two lists have at least one element in common.

In [271]:
l1=[4,8,2,0,1,7,5]
print("List 1 :",l1)
l2=[7,2,3,0,9,6,5,8,6]
print("List 2 :",l2)
for i in l1:
    if i in l2:
        print("The lists have at least one element in common.")
        break

List 1 : [4, 8, 2, 0, 1, 7, 5]
List 2 : [7, 2, 3, 0, 9, 6, 5, 8, 6]
The lists have at least one element in common.

#### 41. Remove all elements from a list.

In [273]:
l=[1, 3, 5, 2, 4, 6, 7, 9, 11, 8, 10, 12]
print("List :",l)
l.clear()
print("List :",l)

List : [1, 3, 5, 2, 4, 6, 7, 9, 11, 8, 10, 12]
List : []

#### 42. Replace negative numbers in a list with 0.

In [275]:
l=[1, 3, -5, 2, 4, -6, -7, 9, 11, 8, 10, -12]
print("List :",l)
for i in range(len(l)):
    if(l[i]<0):
        l[i]=0
print("Modified List :",l)

List : [1, 3, -5, 2, 4, -6, -7, 9, 11, 8, 10, -12]
Modified List : [1, 3, 0, 2, 4, 0, 0, 9, 11, 8, 10, 0]

#### 43. Convert a string into a list of words.

In [276]:
s="Attack on Titans"
print("String :",s)
l=s.split()
print("List of words :",l)

String : Attack on Titans
List of words : ['Attack', 'on', 'Titans']

#### 44. Convert a list of words into a string.

In [281]:
l=['Attack', 'on', 'Titans']
print("List of words :",l)
s=' '
s=s.join(l)
print("String :",s)

List of words : ['Attack', 'on', 'Titans']
String : Attack on Titans

#### 45. Create a list of the first n powers of 2.

In [285]:
l=[]
n=int(input("Enter the value of n : "))
for i in range(1,n+1):
    l.append(2**i)
print("List of first n powers of 2 :",l)

Enter the value of n : 10
List of first n powers of 2 : [2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

#### 46. Find the longest string in a list of strings.

In [294]:
l=['seven','wonders','of','the','world']
print("List of strings :",l)
l.sort(key=len,reverse=True)
print("Longest string in the list of strings :",l[0])

List of strings : ['seven', 'wonders', 'of', 'the', 'world']
Longest string in the list of strings : wonders

#### 47. Find the shortest string in a list of strings.

In [295]:
l=['seven','wonders','of','the','world']
print("List of strings :",l)
l.sort(key=len)
print("Shortest string in the list of strings :",l[0])

List of strings : ['seven', 'wonders', 'of', 'the', 'world']
Shortest string in the list of strings : of

#### 48. Create a list of the first n triangular numbers.

In [299]:
l=[]
n=int(input("Enter the value of n : "))
for i in range(1,n+1):
    l.append((i*(i+1))//2)
print("list of the first n triangular numbers :",l)

Enter the value of n : 7
list of the first n triangular numbers : [1, 3, 6, 10, 15, 21, 28]

#### 49. Check if a list contains another list as a subsequence.

In [308]:
l=[3,7,6,0,9,8,1]
print("List :",l)
l1=[6,1,4]
print("Subsequence :",l1)
c=0
for i in l1:
    if(i in l):
        c+=1
if(c==len(l1)):
    print("List contains the subsequence")
else:
    print("List doesn't contain the subsequence")

List : [3, 7, 6, 0, 9, 8, 1]
Subsequence : [6, 1, 4]
List doesn't contain the subsequence

#### 50. Swap two elements in a list by their indices.

In [310]:
l=[3,7,6,0,9,8,1]
print("List :",l)
print("Enter the indices of the elements to be swapped : ")
x=int(input())
y=int(input())
l[x],l[y]=l[y],l[x]
print("Modified list",l)

List : [3, 7, 6, 0, 9, 8, 1]
Enter the indices of the elements to be swapped :
5
2
Modified list [3, 7, 8, 0, 9, 6, 1]

## Tuple Based Practice Problem :

#### 1. Create a tuple with integers from 1 to 5.

In [1]:
t=(1,2,3,4,5)
print(type(t),t)

<class 'tuple'> (1, 2, 3, 4, 5)

#### 2. Access the third element of a tuple.

In [3]:
t=(1,2,3,4,5)
print("Tuple :",t)
print("3rd element =",t[3])

Tuple : (1, 2, 3, 4, 5)
3rd element = 4

#### 3. Find the length of a tuple without using the len() function.

In [4]:
t=(1,2,3,4,5)
print("Tuple :",t)
c=0
for i in t:
    c+=1
print("Length of the tuple =",c)

Tuple : (1, 2, 3, 4, 5)
Length of the tuple = 5

#### 4. Count the occurrences of an element in a tuple.

In [7]:
t=(8,9,1,2,4,5,6,3,2,5)
print("Tuple :",t)
x=int(input("Enter the element : "))
print(x,"has",t.count(x),"occurences in the tuple")

Tuple : (8, 9, 1, 2, 4, 5, 6, 3, 2, 5)
Enter the element : 5
5 has 2 occurences in the tuple

#### 5. Find the index of the first occurrence of an element in a tuple.

In [8]:
t=(8,9,1,2,4,5,6,3,2,5)
print("Tuple :",t)
x=int(input("Enter the element : "))
print("Index of first occurence of",x,"in the tuple =",t.index(x))

Tuple : (8, 9, 1, 2, 4, 5, 6, 3, 2, 5)
Enter the element : 2
Index of first occurence of 2 in the tuple = 3

#### 6. Check if an element exists in a tuple.

In [12]:
t=(8,9,1,2,4,5,6,3,2,5)
x=int(input("Enter element to find : "))
if(x in t):
    print("The element is present in the tuple",t)
else:
    print("The element isn't present in the tuple",t)

Enter element to find : 7
The element isn't present in the tuple (8, 9, 1, 2, 4, 5, 6, 3, 2, 5)

#### 7. Convert a tuple to a list.

In [13]:
t=(8,9,1,2,4,5,6,3,2,5)
print(type(t),t)
l=list(t)
print(type(l),l)

<class 'tuple'> (8, 9, 1, 2, 4, 5, 6, 3, 2, 5)
<class 'list'> [8, 9, 1, 2, 4, 5, 6, 3, 2, 5]

#### 8. Convert a list to a tuple.

In [14]:
l=[8, 9, 1, 2, 4, 5, 6, 3, 2, 5]
print(type(l),l)
t=tuple(l)
print(type(t),t)

<class 'list'> [8, 9, 1, 2, 4, 5, 6, 3, 2, 5]
<class 'tuple'> (8, 9, 1, 2, 4, 5, 6, 3, 2, 5)

#### 9. Unpack the elements of a tuple into variables.

In [15]:
t=(91,89,90)
english,maths,science=t
print(english,maths,science)

91 89 90

#### 10. Create a tuple of even numbers from 1 to 10.

In [17]:
l=[i for i in range(1,11) if(i%2==0)]
t=tuple(l)
print("Even numbers from 1 to 10 :",t)

Even numbers from 1 to 10 : (2, 4, 6, 8, 10)

#### 11. Create a tuple of odd numbers from 1 to 10.

In [18]:
l=[i for i in range(1,11) if(i%2!=0)]
t=tuple(l)
print("Odd numbers from 1 to 10 :",t)

Odd numbers from 1 to 10 : (1, 3, 5, 7, 9)

#### 12. Concatenate two tuples.

In [28]:
t1=(1,2,3)
print("Tuple 1 :",t1)
t2=(4,5,6)
print("Tuple 2 :",t2)
t3=t1+t2
print("Concatenated tuple :",t3)

Tuple 1 : (1, 2, 3)
Tuple 2 : (4, 5, 6)
Concatenated tuple : (1, 2, 3, 4, 5, 6)

#### 13. Repeat a tuple three times.

In [29]:
t=(3,7,5,8,9)
print(t*3)

(3, 7, 5, 8, 9, 3, 7, 5, 8, 9, 3, 7, 5, 8, 9)

#### 14. Check if a tuple is empty.

In [32]:
t=()
if t:
    print("Tuple",t,"is not empty")
else:
    print("Tuple",t,"is empty")

Tuple () is empty

#### 15. Create a nested tuple.

In [35]:
t=(7,1,0,(6,9,7),4)
print("Nested tuple :",t)

Nested tuple : (7, 1, 0, (6, 9, 7), 4)

#### 16. Access the first element of a nested tuple.

In [36]:
t=(7,1,0,(6,9,7),4)
print("Nested tuple :",t)
print("1st element of the nested tuple :",t[3][1])

Nested tuple : (7, 1, 0, (6, 9, 7), 4)
1st element of the nested tuple : 9

#### 17. Create a tuple with a single element.

In [39]:
t=(1,)
print(type(t),t)

<class 'tuple'> (1,)

#### 18. Compare two tuples.

In [41]:
t1=(1,2,3)
t2=(1,2,4)
if(t1==t2):
    print(t1,"and",t2,"are equal")
else:
    print(t1,"and",t2,"aren't equal")

(1, 2, 3) and (1, 2, 4) aren't equal

#### 19. Delete a tuple.

In [42]:
t=(1,2,3)
print(t)
del(t)
print(t)

(1, 2, 3)

NameError: name 't' is not defined

#### 20. Slice a tuple.

In [44]:
t=(4,2,8,7,5)
print("Tuple :",t)
print(t[1:4])

Tuple : (4, 2, 8, 7, 5)
(2, 8, 7)

#### 21. Find the maximum value in a tuple.

In [45]:
t=(4,2,8,7,5)
print("Tuple :",t)
print("Max element =",max(t))

Tuple : (4, 2, 8, 7, 5)
Max element = 8

#### 22. Find the minimum value in a tuple.

In [46]:
t=(4,2,8,7,5)
print("Tuple :",t)
print("Min element =",min(t))

Tuple : (4, 2, 8, 7, 5)
Min element = 2

#### 23. Convert a string to a tuple of characters.

In [47]:
s="Chamber Of Secrets"
print(type(s),s)
t=tuple(list(s))
print(type(t),t)

<class 'str'> Chamber Of Secrets
<class 'tuple'> ('C', 'h', 'a', 'm', 'b', 'e', 'r', ' ', 'O', 'f', ' ', 'S', 'e', 'c', 'r', 'e', 't', 's')

#### 24. Convert a tuple of characters to a string.

In [49]:
t=('C', 'h', 'a', 'm', 'b', 'e', 'r', ' ', 'O', 'f', ' ', 'S', 'e', 'c', 'r', 'e', 't', 's')
print(type(t),t)
s=''
for i in t:
    s+=i
print(type(s),s)

<class 'tuple'> ('C', 'h', 'a', 'm', 'b', 'e', 'r', ' ', 'O', 'f', ' ', 'S', 'e', 'c', 'r', 'e', 't', 's')
<class 'str'> Chamber Of Secrets

#### 25. Create a tuple from multiple data types.

In [72]:
t=(1,5.6,'a',2+3j,[4,5],(6,7),{8:9})
print(type(t),t)

<class 'tuple'> (1, 5.6, 'a', (2+3j), [4, 5], (6, 7), {8: 9})

#### 26. Check if two tuples are identical.

In [52]:
t1=(4,5,6)
t2=(4,'five',6)
if(t1==t2):
    print("The tupples",t1,t2,"are identical")
else:
    print("The tupples",t1,t2,"aren't identical")

The tupples (4, 5, 6) (4, 'five', 6) aren't identical

#### 27. Sort the elements of a tuple.

In [61]:
t=(8,7,6,0,9,1,3)
print("Tuple :",t)
t=tuple(sorted(t))
print("Sorted tuple :",t)

Tuple : (8, 7, 6, 0, 9, 1, 3)
Sorted tuple : (0, 1, 3, 6, 7, 8, 9)

#### 28. Convert a tuple of integers to a tuple of strings.

In [1]:
t=(8,7,6,0,9,1,3)
print("Tuple of integers :",t)
l=[str(i) for i in t]
t1=tuple(l)
print("Tuple of strings :",t1)

Tuple of integers : (8, 7, 6, 0, 9, 1, 3)
Tuple of strings : ('8', '7', '6', '0', '9', '1', '3')

#### 29. Convert a tuple of strings to a tuple of integers.

In [4]:
t=('8', '7', '6', '0', '9', '1', '3')
print("Tuple of strings :",t)
l=[int(i) for i in t]
t1=tuple(l)
print("Tuple of integers :",t1)

Tuple of strings : ('8', '7', '6', '0', '9', '1', '3')
Tuple of integers : (8, 7, 6, 0, 9, 1, 3)

#### 30. Merge two tuples.

In [6]:
t1 = (1,2,3)
print("Tuple1 :",t1)
t2 = (4,5,6)
print("Tuple2 :",t2)
print("Merged tuple :",t1+t2)

Tuple1 : (1, 2, 3)
Tuple2 : (4, 5, 6)
Merged tuple : (1, 2, 3, 4, 5, 6)

#### 31. Flatten a nested tuple.

In [12]:
t=(8,6,(9,0),5,1)
print("Nested tuple :",t)
t1=()
for i in t:
    if(type(i)==tuple):
        for j in i:
            t1+=(j,)
    else:
        t1+=(i,)
print("Flattened tuple :",t1)

Nested tuple : (8, 6, (9, 0), 5, 1)
Flattened tuple : (8, 6, 9, 0, 5, 1)

#### 32. Create a tuple of the first 5 prime numbers.

In [19]:
t=()
n=0
for i in range(1,20):
    if(n>=5):
        break
    c=0
    for j in range(1,i+1):
        if(i%j==0):
            c+=1
    if(c<=2):
        t+=(i,)
        n+=1
print("First 5 prime numbers :",t)

First 5 prime numbers : (1, 2, 3, 5, 7)

#### 33. Check if a tuple is a palindrome.

In [21]:
t=(7,8,4,1,3,6)
print("Tuple :",t)
if(t==t[::-1]):
    print("Tuple is palindrome")
else:
    print("Tuple isn't palindrome")

Tuple : (7, 8, 4, 1, 3, 6)
Tuple isn't palindrome

#### 34. Create a tuple of squares of numbers from 1 to 5.

In [22]:
t=()
for i in range(1,6):
    t+=(i**2,)
print("Squares (1-5) :",t)

Squares (1-5) : (1, 4, 9, 16, 25)

#### 35. Filter out all even numbers from a tuple.

In [25]:
t=(7,8,4,1,3,6)
print("Tuple :",t)
print("Even numbers :",end=' ')
for i in t:
    if(i%2==0):
        print(i,end=' ')

Tuple : (7, 8, 4, 1, 3, 6)
Even numbers : 8 4 6

#### 36. Multiply all elements in a tuple by 2.

In [26]:
t=(7,8,4,1,3,6)
print("Tuple :",t)
t1=()
for i in t:
    t1+=(i*2,)
print("Multiplied by 2:",t1)

Tuple : (7, 8, 4, 1, 3, 6)
Multiplied by 2: (14, 16, 8, 2, 6, 12)

#### 37. Create a tuple of random numbers.

In [31]:
import random
t=()
for i in range(10):
    t+=(random.randint(1,100),)
print("Tuple of random numbers :",t)

Tuple of random numbers : (23, 26, 21, 72, 10, 62, 83, 51, 77, 66)

#### 38. Check if a tuple is sorted.

In [32]:
t=(7,8,4,1,3,6)
print("Tuple :",t)
if(t==sorted(t)):
    print("tuple is sorted")
else:
    print("tuple isn't sorted")

Tuple : (7, 8, 4, 1, 3, 6)
tuple isn't sorted

#### 39. Rotate a tuple to the left by n positions.

In [47]:
t=(7,8,4,1,3,6)
print("Tuple :",t)
n=int(input("positions to be rotated left by : "))
l=list(t)
t=tuple(l[n:]+l[:n])
print("Tuple rotated left by n pos. :",t)

Tuple : (7, 8, 4, 1, 3, 6)
positions to be rotated left by : 5
Tuple rotated left by n pos. : (6, 7, 8, 4, 1, 3)

#### 40. Rotate a tuple to the right by n positions.

In [53]:
t=(7,8,4,1,3,6)
print("Tuple :",t)
n=int(input("positions to be rotated right by : "))
l=list(t)
t=tuple(l[-2:]+l[:-2])
print("Tuple rotated right by n pos. :",t)

Tuple : (7, 8, 4, 1, 3, 6)
positions to be rotated right by : 2
Tuple rotated right by n pos. : (3, 6, 7, 8, 4, 1)

#### 41. Create a tuple of the first 5 Fibonacci numbers.

In [58]:
t=(0,1)
a=0
b=1
for i in range(3):
    s=a+b
    t+=(s,)
    a=b
    b=s
print("First 5 fibonacci numbers :",t)

First 5 fibonacci numbers : (0, 1, 1, 2, 3)

#### 42. Create a tuple from user input.

In [60]:
n=int(input("Enter no. of elements : "))
t=()
print("Enter the elements : ")
for i in range(n):
    x=input()
    t+=(x,)
print("Tuple :",t)

Enter no. of elements : 6
Enter the elements :
o
l
i
0
0
8
Tuple : ('o', 'l', 'i', '0', '0', '8')

#### 43. Swap two elements in a tuple.

In [62]:
t=(7,8,4,1,3,6)
print("Tuple :",t)
print("Enter the elements to be swapped : ")
x=int(input())
y=int(input())
l=list(t)
xp,yp = l.index(x),l.index(y)
l[xp],l[yp]=y,x
print("Tuple with swapped values :",tuple(l))

Tuple : (7, 8, 4, 1, 3, 6)
Enter the elements to be swapped :
3
4
Tuple with swapped values : (7, 8, 3, 1, 4, 6)

#### 44. Reverse the elements of a tuple.

In [63]:
t=(7,8,4,1,3,6)
print("Tuple :",t)
print("Reversed tuple :",t[::-1])

Tuple : (7, 8, 4, 1, 3, 6)
Reversed tuple : (6, 3, 1, 4, 8, 7)

#### 45. Create a tuple of the first n powers of 2.

In [65]:
t=()
n=int(input("Enter the value of n : "))
for i in range(1,n+1):
    t+=(2**i,)
print("First n powers of 2 :",t)

Enter the value of n : 7
First n powers of 2 : (2, 4, 8, 16, 32, 64, 128)

#### 46. Find the longest string in a tuple of strings.

In [74]:
t=("I","want","to","eat","your","pancreas")
print("Tuple :",t)
x=max(t,key=len)
print("Longest string in the tuple =",x)

Tuple : ('I', 'want', 'to', 'eat', 'your', 'pancreas')
Longest string in the tuple = pancreas

#### 47. Find the shortest string in a tuple of strings.

In [75]:
t=("I","want","to","eat","your","pancreas")
print("Tuple :",t)
x=min(t,key=len)
print("Shortest string in the tuple =",x)

Tuple : ('I', 'want', 'to', 'eat', 'your', 'pancreas')
Shortest string in the tuple = I

#### 48. Create a tuple of the first n triangular numbers.

In [78]:
t=()
n=int(input("Enter the value of n : "))
for i in range(n+1):
    t+=((i*(i+1))//2,)
t

Enter the value of n : 10

(0, 1, 3, 6, 10, 15, 21, 28, 36, 45, 55)

#### 49. Check if a tuple contains another tuple as a subsequence.

In [81]:
t=(7,8,4,1,3,6)
print("Tuple :",t)
s=(3,4,8,9)
print("Subsequence :",s)
c=0
for i in t:
    if(i in s):
        c+=1
if(len(s)==c):
    print("Tuple has the subsequence")
else:
    print("Tuple doesn't have the subsequence")

Tuple : (7, 8, 4, 1, 3, 6)
Subsequence : (3, 4, 8, 9)
Tuple doesn't have the subsequence

#### 50. Create a tuple of alternating 1s and 0s of length n.

In [84]:
n=int(input("Enter the value of n : "))
t=()
for i in range(1,n+1):
    t+=(i%2,)
print("Tuple :",t)

Enter the value of n : 7
Tuple : (1, 0, 1, 0, 1, 0, 1)

## Set Based Practice Problem :

#### 1. Create a set with integers from 1 to 5.

In [87]:
s={1,2,3,4,5}
print(type(s),s)

<class 'set'> {1, 2, 3, 4, 5}

#### 2. Add an element to a set.

In [88]:
s={1,2,3,4,5}
print("Set :",s)
n=int(input("Enter element to be added : "))
s.add(n)
print("New set :",s)

Set : {1, 2, 3, 4, 5}
Enter element to be added : 6
New set : {1, 2, 3, 4, 5, 6}

#### 3. Remove an element from a set.

In [89]:
s={1,2,3,4,5}
print("Set :",s)
n=int(input("Enter the element to be removed : "))
s.remove(n)
print("New set :",s)

Set : {1, 2, 3, 4, 5}
Enter the element to be removed : 4
New set : {1, 2, 3, 5}

#### 4. Check if an element exists in a set.

In [91]:
n=int(input("Element to find : "))
s={1,2,3,4,5}
if(n in s):
    print(n,"exists in the set",s)
else:
    print(n,"doesn't exist in the set",s)

Element to find : 6
6 doesn't exist in the set {1, 2, 3, 4, 5}

#### 5. Find the length of a set without using the len() function.

In [95]:
s={1,2,3,4,5}
print("Set :",s)
c=0
[c:=c+1 for i in s]
print("Length of set =",c)

Set : {1, 2, 3, 4, 5}
Length of set = 5

#### 6. Clear all elements from a set.

In [96]:
s={1,2,3,4,5}
print("Set :",s)
s.clear()
print("Set :",s)

Set : {1, 2, 3, 4, 5}
Set : set()

#### 7. Create a set of even numbers from 1 to 10.

In [100]:
s={i for i in range(1,11) if i%2==0}
print("Set of even numbers from 1 to 10 :",s)

Set of even numbers from 1 to 10 : {2, 4, 6, 8, 10}

#### 8. Create a set of odd numbers from 1 to 10.

In [101]:
s={i for i in range(1,11) if i%2!=0}
print("Set of odd numbers from 1 to 10 :",s)

Set of odd numbers from 1 to 10 : {1, 3, 5, 7, 9}

#### 9. Find the union of two sets.

In [106]:
s1={1,2,3}
print("Set1 :",s1)
s2={3,4,5}
print("Set2 :",s2)
print("Union of both the sets :",s1.union(s2))

Set1 : {1, 2, 3}
Set2 : {3, 4, 5}
Union of both the sets : {1, 2, 3, 4, 5}

#### 10. Find the intersection of two sets.

In [107]:
s1={1,2,3}
print("Set1 :",s1)
s2={3,4,5}
print("Set2 :",s2)
print("Intersection of both the sets :",s1.intersection(s2))

Set1 : {1, 2, 3}
Set2 : {3, 4, 5}
Intersection of both the sets : {3}

#### 11. Find the difference between two sets.

In [110]:
s1={1,2,3}
print("Set1 :",s1)
s2={3,4,5}
print("Set2 :",s2)
print("Difference btwn both the sets :",s1.difference(s2))

Set1 : {1, 2, 3}
Set2 : {3, 4, 5}
Difference btwn both the sets : {1, 2}

#### 12. Check if a set is a subset of another set.

In [120]:
s={1,2,3,4,5,6}
ss={2,6,4,8}
if(ss.issubset(s)):
    print(ss,"is a subset of",s)
else:
    print(ss,"isn't a subset of",s)

{8, 2, 4, 6} isn't a subset of {1, 2, 3, 4, 5, 6}

#### 13. Check if a set is a superset of another set.

In [122]:
s={1,2,3,4,5,6}
ss={2,6,4,8}
if(s.issuperset(ss)):
    print(s,"is a superset of",ss)
else:
    print(s,"isn't a superset of",ss)

{1, 2, 3, 4, 5, 6} isn't a superset of {8, 2, 4, 6}

#### 14. Create a set from a list.

In [123]:
l=[1,6,2,7,3,5,8,3,6]
print("List :",l)
s=set(l)
print("Set :",s)

List : [1, 6, 2, 7, 3, 5, 8, 3, 6]
Set : {1, 2, 3, 5, 6, 7, 8}

#### 15. Convert a set to a list.

In [124]:
s={1,2,3,5,6,7,8}
print("Set :",s)
l=list(s)
print("List :",l)

Set : {1, 2, 3, 5, 6, 7, 8}
List : [1, 2, 3, 5, 6, 7, 8]

#### 16. Remove a random element from a set.

In [128]:
s={2,7,2,4,9,3,5}
print("Set :",s)
s.remove(4)
print("New set :",s)

Set : {2, 3, 4, 5, 7, 9}
New set : {2, 3, 5, 7, 9}

#### 17. Pop an element from a set.

In [133]:
s={2,7,2,4,9,3,5}
print("Set :",s)
s.pop()
print("New set :",s)

Set : {2, 3, 4, 5, 7, 9}
New set : {3, 4, 5, 7, 9}

#### 18. Check if two sets have no elements in common.

In [141]:
s1={1,2,3,4}
print("Set1 :",s1)
s2={5,6,7,8}
print("Set2 :",s2)
if(len(s1.intersection(s2))):
    print("The sets have one/many elements in common")
else:
    print("The sets don't have any elements in common")

Set1 : {1, 2, 3, 4}
Set2 : {8, 5, 6, 7}
The sets don't have any elements in common

#### 19. Find the symmetric difference between two sets.

In [144]:
s1={1,2,3,4,5}
print("Set1 :",s1)
s2={4,5,6,7,8}
print("Set2 :",s2)
print("Symmetric difference btwn the two sets =",s1.symmetric_difference(s2))

Set1 : {1, 2, 3, 4, 5}
Set2 : {4, 5, 6, 7, 8}
Symmetric difference btwn the two sets = {1, 2, 3, 6, 7, 8}

#### 20. Update a set with elements from another set.

In [145]:
s1={1,2,3,4,5}
print("Set1 :",s1)
s2={4,5,6,7,8}
print("Set2 :",s2)
s2.update(s1)
print("Updated Set2 from Set1 :",s2)

Set1 : {1, 2, 3, 4, 5}
Set2 : {4, 5, 6, 7, 8}
Updated Set2 from Set1 : {1, 2, 3, 4, 5, 6, 7, 8}

#### 21. Create a set of the first 5 prime numbers.

In [161]:
s=set()
i,n=1,0
while(n<5):
    c=0
    for j in range(1,j+1):
        if(i%j==0):
            c+=1
    if(c<=2):
        s.add(i)
        n+=1
    i+=1
print("Set of first 5 prime numbers :",s)

Set of first 5 prime numbers : {1, 2, 3, 5, 7}

#### 22. Check if two sets are identical.

In [163]:
s1={1,2,3,4,5}
s2={4,5,1,2,3}
if(s1==s2):
    print("The sets",s1,"and",s2,"are identical")
else:
    print("The sets",s1,"and",s2,"aren't identical")

The sets {1, 2, 3, 4, 5} and {1, 2, 3, 4, 5} are identical

#### 23. Create a frozen set.

In [165]:
s=frozenset({1,2,3,4,5})
print(s)

frozenset({1, 2, 3, 4, 5})

#### 24. Check if a set is disjoint with another set.

In [170]:
s1={1,2,3,4}
s2={5,6,7,8}
if(len(s1.intersection(s2))==0):
    print(s1,'and',s2,'are disjoint sets')
else:
    print(s1,'and',s2,'aren\'t disjoint sets')

{1, 2, 3, 4} and {8, 5, 6, 7} are disjoint sets

#### 25. Create a set of squares of numbers from 1 to 5.

In [172]:
s=set()
for i in range(1,6):
    s.add(i**2)
print("set of squares of numbers from 1 to 5 =",s)

set of squares of numbers from 1 to 5 = {1, 4, 9, 16, 25}

#### 26. Filter out all even numbers from a set.

In [174]:
s={8,2,5,9,6,3,7}
print("Set :",s)
s1={i for i in s if(i%2==0)}
print("Even numbers from the set :",s1)

Set : {2, 3, 5, 6, 7, 8, 9}
Even numbers from the set : {8, 2, 6}

#### 27. Multiply all elements in a set by 2.

In [175]:
s={8,2,5,9,6,3,7}
print("Set :",s)
s1={i*2 for i in s}
print("New set :",s1)

Set : {2, 3, 5, 6, 7, 8, 9}
New set : {4, 6, 10, 12, 14, 16, 18}

#### 28. Create a set of random numbers.

In [181]:
import random
s=set()
for i in range(10):
    s.add(random.randint(1,100))
print("Set of random numbers :",s)

Set of random numbers : {37, 38, 9, 45, 15, 48, 55, 88, 89, 91}

#### 29. Check if a set is empty.

In [191]:
s=set()
print(s)
if(len(s)==0):
    print("The set is empty")
else:
    print("The set isn't empty")

set()
The set is empty

#### 30. Create a nested set (hint: use frozenset).

In [199]:
s={1,2,frozenset({3,4}),5,6}
s

{1, 2, 5, 6, frozenset({3, 4})}

#### 31. Remove an element from a set using the discard method.

In [202]:
s={1,2,3,4,5,6}
print("Set :",s)
x=int(input("Element to be discarded = "))
s.discard(x)
print("New set :",s)

Set : {1, 2, 3, 4, 5, 6}
Element to be discarded = 4
New set : {1, 2, 3, 5, 6}

#### 32. Compare two sets.

In [206]:
s1={1,2,3}
s2={3,4,5}
if(s1==s2):
    print(s1,"and",s2,"are equal")
else:
    print(s1,"and",s2,"aren't equal")

{1, 2, 3} and {3, 4, 5} aren't equal

#### 33. Create a set from a string.

In [208]:
string = "Ichiraku"
print("String :",string)
s=set(string)
print("Set :",s)

String : Ichiraku
Set : {'a', 'i', 'k', 'c', 'I', 'u', 'h', 'r'}

#### 34. Convert a set of strings to a set of integers.

In [210]:
sstr={'1','2','3','4'}
print("Set of strings :",sstr)
sint = {int(i) for i in sstr}
print("Set of integers :",sint)

Set of strings : {'3', '1', '2', '4'}
Set of integers : {1, 2, 3, 4}

#### 35. Convert a set of integers to a set of strings.

In [212]:
sint={1,2,3,4}
print("Set of integers :",sint)
sstr = {str(i) for i in sint}
print("Set of strings :",sstr)

Set of integers : {1, 2, 3, 4}
Set of strings : {'3', '1', '2', '4'}

#### 36. Create a set from a tuple.

In [214]:
t=(1,2,3,4,4)
print(type(t),t)
s=set(t)
print(type(s),s)

<class 'tuple'> (1, 2, 3, 4, 4)
<class 'set'> {1, 2, 3, 4}

#### 37. Convert a set to a tuple.

In [215]:
s={1,2,3,4,5}
print(type(s),s)
t=tuple(s)
print(type(t),t)

<class 'set'> {1, 2, 3, 4, 5}
<class 'tuple'> (1, 2, 3, 4, 5)

#### 38. Find the maximum value in a set.

In [216]:
s={6,2,4,8,9,3,5}
print("Set :",s)
print("Maximum value =",max(s))

Set : {2, 3, 4, 5, 6, 8, 9}
Maximum value = 9

#### 39. Find the minimum value in a set.

In [217]:
s={6,2,4,8,9,3,5}
print("Set :",s)
print("Minimum value =",min(s))

Set : {2, 3, 4, 5, 6, 8, 9}
Minimum value = 2

#### 40. Create a set from user input.

In [220]:
n=int(input("Enter the no. of elements for the set :"))
print("Enter the elements :")
s=set()
for i in range(n):
    s.add(int(input()))
print("Set :",s)

Enter the no. of elements for the set :5
Enter the elements :
7
6
1
9
3
Set : {1, 3, 6, 7, 9}

#### 41. Check if the intersection of two sets is empty.

In [223]:
s1={1,2,3}
print("Set1 :",s1)
s2={4,5,6}
print("Set2 :",s2)
if(len(s1.intersection(s2))):
    print("Intersection isn't empty")
else:
    print("Intersection is empty")

Set1 : {1, 2, 3}
Set2 : {4, 5, 6}
Intersection is empty

#### 42. Create a set of the first 5 Fibonacci numbers.

In [227]:
s={0,1}
a=0
b=1
n=3
for i in range(3):
    ss=a+b
    s.add(ss)
    a=b
    b=ss
print("Set of fibonacci numbers :",s) #discards one number as the values are stored in a set which doesn't allow repetitions

Set of fibonacci numbers : {0, 1, 2, 3}

#### 43. Remove duplicates from a list using sets.

In [228]:
l=[2,5,8,4,6,9,7,2,6,8]
print("List :",l)
s=set(l)
print("Set :",s)

List : [2, 5, 8, 4, 6, 9, 7, 2, 6, 8]
Set : {2, 4, 5, 6, 7, 8, 9}

#### 44. Check if two sets have the same elements, regardless of their count.

In [229]:
s1={4,8,6,2}
print("Set1 :",s1)
s2={2,4,6,8}
print("Set2 :",s2)
if(s1==s2):
    print("The sets have same elements")
else:
    print("The sets don't have same elements")

Set1 : {8, 2, 4, 6}
Set2 : {8, 2, 4, 6}
The sets have same elements

#### 45. Create a set of the first n powers of 2.

In [235]:
n=int(input("Enter the value of n : "))
s=set()
for i in range(n):
    s.add(2**i)
print("first n powers of 2 :",s)

Enter the value of n : 5
first n powers of 2 : {1, 2, 4, 8, 16}

#### 46. Find the common elements between a set and a list.

In [238]:
s={5,9,7,1,0,3}
print("Set :",s)
l=[1,8,0,4,6,1,8,9]
print("List :",l)
print("Common elements between them :",s.intersection(l))

Set : {0, 1, 3, 5, 7, 9}
List : [1, 8, 0, 4, 6, 1, 8, 9]
Common elements between them : {0, 1, 9}

#### 47. Create a set of the first n triangular numbers.

In [243]:
n=int(input("Enter the value of n : "))
s=set()
for i in range(1,n+1):
    s.add((i*(i+1))//2)
print("First n triangular numbers :",s)

Enter the value of n : 6
First n triangular numbers : {1, 3, 6, 10, 15, 21}

#### 48. Check if a set contains another set as a subset.

In [2]:
s={1,2,3,4,5,6}
ss={2,6,4}
if(ss.issubset(s)):
    print(s,"contains",ss,"as a subset")
else:
    print(s,"doesn't contain",ss,"as a subset")

{1, 2, 3, 4, 5, 6} contains {2, 4, 6} as a subset

#### 49. Create a set of alternating 1s and 0s of length n.

In [9]:
n=int(input("Enter the value of n : "))
s={i%2 for i in range(1,n+1)}
print("Set :",s)                        #set, thus no repetition will be present

Enter the value of n : 5
Set : {0, 1}

#### 50. Merge multiple sets into one.

In [13]:
s1={1,2,3}
s2={4,5,6}
s3={7,8,9}
s4={10,11,12}
print("The sets :",s1,s2,s3,s4)
s=((s1.union(s2)).union(s3)).union(s4)
print("Merged set :",s)

The sets : {1, 2, 3} {4, 5, 6} {8, 9, 7} {10, 11, 12}
Merged set : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}